<!DOCTYPE html>
<html>
<head>
	<title>Giới Thiệu Bản Thân</title>
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='style.css')}}">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: Arial, sans-serif;
		}
        img {
			display: block;
			margin: auto;
			width: 200px;
		}
	</style>
</head>
<body>
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
		  <i class="bx bx-menu"></i>
		</label>
		<label class="logo">NMKx</label>
		<ul>
		  <li><a href="/" class="active">Home</a></li>
		  <li><a href="/about">About</a></li>
		  <li><a href="/contact">Contact</a></li>
		</ul>
	  </nav>
		</ul>
				<aside>
					<img src="/static/img/avatar.jpg">
					<h1>Thông Tin Cá Nhân</h1>
					<li>Họ và tên: Nguyễn Minh Kỳ</li>
					<li>Ngày Sinh: 07/08/2002</li>
					<li>Trường: Đại Học CNTP TP.HCM</li>
					<li>Ngành: Công Nghệ Thông Tin</li>
					<li>Chuyên Ngành: Khoa Học Phân Tích Dữ Liệu</li>
					<li>Địa Chỉ: 1017/12A Lạc Long Quân</li>
					<li>Quê Quán: Đồng Tháp</li>
				</aside>
				<article>
				<h2>Các Dự Án Đã Thực Hiện</h2>
					<li>Web Bán Điện Thoại, Laptop, Phụ Kiện</li>
					<li>Quản Lý Quán Cafe</li>
					<li>Phân Loại Trái Cây, Rau Củ Và Quả Bằng Hình Ảnh</li>
					<li>Phân Loại Cảm Xúc Dựa Trên Video Và Hình Ảnh</li>
					<li>Form Quản Lý Thu Chi</li>
				</article>
				<header>
					<nav>
						<a href="https://www.facebook.com/profile.php?id=100053723719941"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/minh_ky782/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="mailto:nguyenminhky12391@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					  </nav>
				</header>
	<script  src="./script.js"></script>
</body>
</html>
