<!DOCTYPE html>
<html>
<head>
	<title>Trang Chủ</title>
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='style.css')}}">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<style>
		/* Reset CSS */	
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: Arial, sans-serif;
		}
        img {
			display: block;
			margin: auto;
			width: 200px; 
		}
	</style>
</head>

</html>

</head>
<body>
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
		  <i class="bx bx-menu"></i>
		</label>
		<label class="logo">NMKx</label>
		<ul>
		  <li><a href="/" class="active">Home</a></li>
		  <li><a href="/about">About</a></li>
		  <li><a href="/contact">Contact</a></li>
		</ul>
	  </nav>
	  <section></section>
	  <header>
		<nav>
			<a href="https://www.facebook.com/profile.php?id=100053723719941"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/minh_ky782/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="mailto:nguyenminhky12391@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		  </nav>
	</header>
<script  src="./script.js"></script>
	  </body>
</html>
